	         <!-- mianban -->
	         <div class="row">
	         <div class="col-sm-12 col-md-12">
	        	<div class="homead2"></div>
	        </div>	
		<div class="col-sm-3 col-md-3">
			<div class="cpdaohang">	
				<dd></dd>
			<ul>
				<li><a href='#'>分类</a></li>
				<li><a href='#'>分类</a></li>
				<li><a href='#'>分类</a></li>
				<li><a href='#'>分类</a></li>
				<li><a href='#'>分类</a></li>
				<li><a href='#'>分类</a></li>
				<li><a href='#'>分类</a></li>
			</ul>
		</div></div>
		<div class="col-sm-9 col-md-9">
			<div class="homead3"><img src="http://www.777moban.com/Preview/13_470/images/banner-1.jpg"/></div>
		</div>		
	<div class="clearfix" ></div>
		<div class="homead2"></div>
   </div>
	<!-- end mianban -->